

/*The following section is used to mantain the body and the content section
 of the body as well. deals with the underImage and works

*/
body
{
    background-color:rgba(0,200,250,1);
    overflow:hidden;
}
#taskBar
{
    position: absolute;
    left:20%;
    top:-1%;
    width:content-box;
    height:102%;
    background-color:rgba(2,2,2,1);
    max-width: 20%;
}

#taskBar h1
{
    color:white;
    font-size:200%;
}

#body1
{
    position: absolute;
    background-color:rgba(250,0,250,1);
    top:10%;
    left:40%;
    padding: 2%;
    width: 30%;
    height:58%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    overflow:scroll;
    overflow-x:hidden;
}
#body2
{
    position: absolute;
    background-color:rgba(0,20,0,1);
    top:11%;
    left:41%;
    padding: 2%;
    width: 30%;
    z-index: -2;
    height:60%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
}
#body1 p
{
    color:white;
}
/*------------------------------------------------------------------------
The following section is used to create the navigation bar for the website
might make one more link that links to my github of projects that I am
working on.
------------------------------------------------------------------------*/

#taskButton5
{
    position: absolute;
    bottom: 2%;
}
a:visited
{
    text-decoration:none;
    color:white;

}
a:link
{
    text-decoration:none;
}
#taskButton1 h1 a:active
{
    color:white;
}
#taskButton1 a:hover
{
    color:white;
    font-size:150% ;
    background-color: rgba(100,100,200,1);
    transition-duration: 2s;
}
#taskButton1Active
{
    background-color: rgba(100,100,200,1);
    font-size:150%;
}
#taskButton2 a:hover
{
    color:white;
    font-size:150% ;
    background-color: rgba(150,100,200,1);
    transition-duration: 2s;
}
#taskButton2Active
{
    background-color: rgba(150,100,200,1);
    font-size:150%;
}
#taskButton3 a:hover
{
    color:white;
    font-size:150% ;
    background-color: rgba(50,50,200,1);
    transition-duration: 2s;
}
#taskButton3Active
{
    background-color: rgba(50,50,200,1);
    font-size:150%;
}
#taskButton4 a:hover
{
    color:white;
    font-size:150% ;
    background-color: rgba(20,20,100,1);
    transition-duration: 2s;
}
#taskButton4Active
{
    background-color: rgba(20,20,100,1);
    font-size:150%;
}


